body {
	margin: 0;
	position: absolute;
	font-family: "marker felt";
	display: block;
	background-repeat: no-repeat;
	background-color: rgb(219, 219, 217);
	background-size: cover;
	width: 100%;
}

.wayinthere {
	height: 72px;
	width: 150px;
	position: absolute;
	margin-top: 14px;
	margin-left: 40px;
}
.navigation {
	margin-left: 300px;
}
nav {
	display: flex;
	width: 100%;
	flex-direction: row;
    flex-wrap: nowrap;
    /*align-items: baseline;*/
    background-color: turquoise;
    left: 300px;
    height: 150px;
}

nav li a {
	flex: 1;
	align-self: center;
	margin: auto;
	text-decoration: none;
	display: block;
	padding-right: 4em;
	padding-top: 30px;
	color: #222;
}

nav ul { 
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 2em;
	margin-bottom: 1em;
}
nav li {
	min-width: 100px;
	flex-grow: 1;
	font-size: 20px;
}


.img-resize{
	width: 250px;
	height: 250px;
	margin: 0 5px;
}


#pictures{
	
}

#pictures li{
	display: inline;;
}

.popUp ul{
	display: inline;
}

.hide{
	display: none;
}
.quizArea {
	margin: 0 auto;
  	text-align: center;
  	background-color: lightcoral;
}

.questionArea {
	margin: 0 auto;
	text-align: center;
}

.quizArea img {
	width: 250px;
	height: 250px;
	margin: 60px 20px;
	border: 8px solid #fff;
	cursor: pointer;
}

.levelArea{
  font-size: 26px;
  text-align: center;
  margin: 20px auto;
}

.pointsArea{
  margin: 10px 10px;
}

/*Modal stuff brah*/

#modal-close {
	margin-left: 250px;
	margin-top: 90px;
	font-size: 24px;
	border-radius: 40px;
}

#modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .50;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=50);
	z-index: 1000;
}

#modal-content {
	background-color: beige;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 20px 0 #222;
	-webkit-box-shadow: 0 0 20px 0 #222;
	-moz-box-shadow: 0 0 20px 0 #222;
	display: none;
	height: 240px;
	left: 45%;
	margin: 0 0 0 -160px;
	padding: 50px;
	position: absolute;
	top: 50%;
	/*width: 320px;*/
	z-index: 1000;
}

#modal-background.active, #modal-content.active {
	display: block;
}