.img-resize{
	width: 250px;
	height: 250px;
	margin: 0 5px;
}


#pictures{
	
}

#pictures li{
	display: inline;;
}

.popUp ul{
	display: inline;
}

.hide{
	display: none;
}

.quizArea img {
	width: 250px;
	height: 250px;
	margin: 0 5px;
}