.img-resize{
	width: 250px;
	height: 250px;
	margin: 0 5px;
}


#pictures{
	
}

#pictures li{
	display: inline;;
}

.popUp ul{
	display: inline;
}

.hide{
	display: none;
}

.quizArea img {
	width: 250px;
	height: 250px;
	margin: 0 5px;
}
/*Modal stuff brah*/

#modal-close {
	margin-left: 250px;
	margin-top: 90px;
	font-size: 24px;
	border-radius: 40px;
}

#modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .50;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=50);
	z-index: 1000;
}

#modal-content {
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 20px 0 #222;
	-webkit-box-shadow: 0 0 20px 0 #222;
	-moz-box-shadow: 0 0 20px 0 #222;
	display: none;
	height: 240px;
	left: 50%;
	margin: -120px 0 0 -160px;
	padding: 10px;
	position: absolute;
	top: 50%;
	width: 320px;
	z-index: 1000;
}

#modal-background.active, #modal-content.active {
	display: block;
}